@charset "utf-8";
/* CSS Document */

body {
	background-color:#000;	
}
img {
	border:0;
}

div#contenedor {
	position:relative;
	width:1000px;
	height:auto;
	margin:2px auto 0 auto;
	overflow:hidden;
}

/* Stils menu */

iframe#if_top_left {
	width:170px;
	height:90px;
	border:0;
	padding:0;
	margin:0;

}
iframe#if_top_right {
	width:170px;
	height:90px;
	border:0;
	padding:0;
	margin:0;

}

div#top_left {
	float:left;
	position:relative;
	width:170px;
	height:95px;
	margin-left:10px;
	margin-right:20px;
	margin-bottom:5px;


}
div#logo {
	float:left;
	position:relative;
	width:600px;
	height:100px;
	overflow:hidden;
}
div#top_right {
	float:left;
	position:relative;
	width:170px;
	height:95px;
	margin-left:20px;
	margin-right:10px;
	margin-bottom:5px;



}
div#barramanu {
	clear:left;
	position:relative;	
	width:980px;
	height:25px;
	margin-right:10px;
	margin-left:10px;
	margin-bottom:10px;
	background-color:#600;
	background-image:url(../pics/back_menu.jpg);
	overflow:hidden;
}
img.uk {
	border:0;
	margin-top:2px;
	
}
div#menu {
	position:absolute;
	width:838px;
	height:25px;
	text-align:center;
	margin: 3px 0px 0px 40px;
}
p.linkmenu {
	display:inline;
	height:25px;
	text-align:center;
	font-family:"Copperplate Gothic Light", Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#000;
	margin:0;
	padding-top:3px;
	padding-right:6px;
	padding-left:6px;
}
a.men:link {
	text-decoration:none;
	color:#fff;

}
a.men:visited {
	text-decoration:none;
		color:#fff;
}
a.men:hover {
	text-decoration:none;
	color:#000;	
}
div#socials {
	display:none;
	position:relative;
	width:150px;
	height:25px;
	text-align:center;
	margin:0 0 10px 0;
	overflow:hidden;
}

div#ilike {
	position:absolute;
	left:814px;
	width:130px;
	height:25px;
	overflow:hidden;
	padding-top:2px;

}
div#banderes {
	position:absolute;
	left:940px;
	width:65px;
	height:21px;
	overflow:hidden;
}

/* Estils de la columna esquerra */

iframe#if_dis {
	width:250px;
	height:3200px;
	border:0;
	padding:0;
	margin:0;

}

div#col_left {
	float:left;
	position:relative;
	width:150px;
	height:auto;
	min-height:100px;
	margin-left:10px;
	margin-right:15px;
	
}


/* Estils de columna dreta */

iframe#if_ent {
	width:150px;
	height:0px;
	border:0;
	padding:0;
	margin:0;

}
iframe#if_not {
	width:100px;
	height:1000px;
	border:0;
	padding:0;
	margin:0;

}
iframe#noticias {
	width:700px;
	height:270px;
	border:0;
	padding:0;
	margin:0;

}

/* iframe#twitter {
	width:150px;
	height:1400px;
	border:0;
	padding:0;
	margin:0;

}
iframe#face {
	width:150px;
	height:700px;
	border:0;
	padding:0;
	margin:0;

}
*/
div#twitter {
	margin-bottom:5px;
}
div#col_right {
	float:left;
	position:relative;
	width:100px;
	height:auto;
	min-height:100px;
	margin-left:15px;
	margin-right:10px;

}
div#titnot {
	clear:left;
	position:relative;
	width:100px;
	height:25px;
	background-color:#FF0;
	background-image:url(../pics/ban_not.jpg);
	overflow:hidden;
}
div#titnot p {
	text-align:center;
	font-family:"Copperplate Gothic Light", Arial, Helvetica, sans-serif;
	font-size:13px;
	margin:0;
	padding-top:3px;
	font-weight:bold;
}
div.contnot {
	position:relative;
	width:auto;
	height:auto;
	display: -webkit-flex;
  	display: flex;
	flex-direction: row;
	margin:0;
	padding-top:5px;
	padding-bottom:5px;
}
div#contnot h1 {
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	margin:auto;
	height: 55px;
	padding-top:3px;
	padding-left:3px;
	padding-right:3px;
	font-weight:bold;
	color:#FFF;	
}
div#contnot p {
	text-align:justify;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	margin:0;
	padding-top:3px;
	padding-left:3px;
	padding-right:3px;
	padding-bottom:5px;
	font-weight:bold;
	color:#666;	
}
div#contnot img {
	max-height: 150px;
	max-width:175px;
	overflow: hidden;
	vertical-align: middle;
}
div#contentre {
	position:relative;
	width:100px;
	height:auto;
	margin:0;
	padding-bottom:5px;
	margin-bottom:10px;
}
p.entr {
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#999;
	padding-left:3px;
	padding-right:3px;
	margin-top:2px;
	margin-bottom:2px;
}
div#archivo {
	clear:left;
	position:relative;
	width:100px;	
	height:40px;
	background-color:#FF0;
	margin-bottom:10px;
	background-image:url(../pics/ban_archivo.jpg);

}
div#archivo p {
	text-align:center;
	font-family:"Copperplate Gothic Light", Arial, Helvetica, sans-serif;
	font-size:13px;
	margin:0;
	padding-top:3px;
	font-weight:bold;
}

/* Estils columna central */

iframe.if_bannermain {
	width:700px;
	height:100px;
	border:0;
	padding:0;
	margin:0;

}
div#col_center {
	float:left;
	position:relative;
	width:700px;
	height:auto;
	min-height:100px;
}

div#banner {
	position:relative;
	width:700px;
	height:100px;
	margin-bottom:10px;
}
div#banner_down_index {
	position:relative;
	width:700px;
	height:100px;
	margin-bottom:10px;
}
div#banner_more_down_index {
	position:relative;
	width:700px;
	height:100px;
	margin-bottom:10px;
}
div#banner_middle_index {
	position:relative;
	width:700px;
	height:100px;
	clear:left;
	padding-top:10px;	
	margin-bottom:10px;
}
div#banner_top_index {
	position:relative;
	width:700px;
	height:100px;
	margin-bottom:10px;
}

/* Novetats */

div.titdiscos {
	position:relative;
	width:700px;
	height:25px;
	clear:both;
	background-color:#600;
	background-image:url(../pics/back_large.jpg);
}
div.titdiscos p {

	text-align:left;
	font-family:"Copperplate Gothic Light", Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#fff;
	padding-left:10px;
	margin:0;
	padding-top:3px;
	font-weight:bold;
}
div#contdiscos {
	position:relative;
	width:700px;
	height:auto;
	overflow:hidden;

}
div#contdiscos_nov {
	position:relative;
	width:700px;
	height:auto;
	margin-bottom:10px;
}
div.novedad {
	float:left;
	position:relative;
	width:345px;
	height:90px;
	margin-top:2px;
	margin-left:2px;
	border:1px;
	border-style:solid;
	border-color:#600;
}
img.covermini {
	clear:left;
	float:right;
	margin:5px;
}
div.dades h1 {
	margin-top:2px;
	margin-bottom:1px;
	margin-left:4px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#CCC;
}
div.dades h2 {
	margin-top:2px;
	margin-bottom:1px;
	margin-left:4px;	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#ccc;
}
div.dades h3 {
	margin-top:2px;
	margin-bottom:1px;
	margin-left:4px;	
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#666;
}
div.dades {
	clear:both;
	position:absolute;
	width:250px;
	height:90px;
	overflow:hidden;
	
}

div.icos {
	position:absolute;
	top:63px;
	left:120px;
	width:130px;
	height:25px;
	overflow:hidden;
}
div.icos p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#666;
	padding-left:5px;
	margin:0;
	text-align:right;
}



/* Entrevistes */


div#content {
	position:relative;
	width:700px;
	height:auto;
	margin-bottom:10px;
}
div.entrevista {
	position:relative;
	width:690px;
	margin-left:2px;
	overflow:hidden;
	border-bottom:2px;
	border-bottom-color:#600;
	border-bottom-style:solid;
	padding-bottom:2px;
}
div.entrevista p {
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;	
	color:#999;
	margin-top:5px;
	margin-left:100px;
	margin-right:60px;
	padding-bottom:5px;

	padding-left:50px;
}
div.data {
	position:absolute;
	left:634px;
	width:50px;
	height:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;	
	color:#666;
	
}
img.coverent {
	float:left;
	margin:0;
	border:0;
	margin-right:50px;
	margin-top:5px;

}
div#facedown {
	margin:0 auto o auto;
}

div.conc {
	float:left;
	position:relative;
	width:700px;	
	margin-top:5px;
}
div.concert img {
	margin:0px;
	border:0px;
}
/* Estils generals */

img {
	margin:0px;
	border:0px;
	padding:0px;
}




a.linkblanc:link {
	text-decoration:none;
	color:#999;
}
a.linkblanc:visited {
	text-decoration:none;
	color:#999;
}
a.linkblanc:hover {
	text-decoration:none;
	color:#666;
}

div#final {
	clear:left;
	position:relative;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;	
	color:#666;
	
}
a.linkk:link {
	text-decoration:none;
	color:#ccc;
}
a.linkk:visited {
	text-decoration:none;
	color:#ccc;
}
a.linkk:hover {
	text-decoration:none;
	color:#600;
}

.gran {
	color:#666;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;

}
span.cursiva {
	font-style:italic;
	color:#FFF;
}
span.on {
	color:#FF0;

}
a.linkdisc:link {
	text-decoration:none;
	color:#999;
}
a.linkdisc:visited {
	text-decoration:none;
	color:#999;
}
a.linkdisc:hover {
	text-decoration:none;
	color:#600;
}

div.concert {
	position:relative;
	float:left;
	width:100px;
	height:auto;
	text-align:center;
	overflow:hidden;
	margin-bottom:10px;
}
div.concert p{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#999;
}

div.cronica {
	position:relative;
	width:700px;
	height:auto;
	min-height:140px;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#600;
}
div.cronica  img.cartell_cronica
{
	float:left;
	margin:5px;
}
div.cronica p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#CCC;
	margin:10px 20px 10px 20px;
	text-align:justify;
}
div.cronica p span {
    font-size:15px;
    font-weight: bold;
    
}

/* script images concerts */
#overlappopup{ /*don't change id name */
position: absolute; /*don't change position property */
z-index: 1000;
background: white;
border: 12px solid black;
padding: 10px;
left: 0;
top: 0;
visibility: hidden;
}
div.centrar {
	text-align:center;
}
img {
	border:0;
}
div#cont_novs {
	position:relative;
	width:698px;
	height:auto;
	margin-bottom:10px;
	margin:0 1px 20px 1px;
	overflow:hidden;
}
div.novs {
	float:left;
	position:relative;
	width:228px;
	height:90px;
	margin-top:2px;
	margin-left:2px;
	border:1px;
	border-style:solid;
	border-color:#600;
}
img.cover_novs {

	float:left;
	margin:2px;
}
div.dades_novs h1 {
	margin-top:2px;
	margin-bottom:1px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#CCC;
}
div.dades_novs h2 {
	margin-top:2px;
	margin-bottom:1px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#ccc;
}
div.dades_novs h3 {
	margin-top:2px;
	margin-bottom:1px;
	margin-left:4px;	
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#666;
}
div.dades_novs {
	position:relative;
	width:144px;
	height:90px;
	overflow:hidden;
	text-align:center;
	
}
span.yellow {
	color:#FF0;
}
